// IMPORT GLOBAL STYLE
@use '../components/global' as *;

// FOOTER SECTION STYLE
.footer-section{
    background: $theme-color-black;
    padding: 4rem 0rem;

    .foot-img-container{
        display: flex;
        padding: 1rem 2.1rem;

        .foot-img-box{
            margin: 0.5rem;
        }
    }

    h5{
        color: $theme-secondary-font-color;
        text-align: center;
        font-size: 1.3rem;
    }
}


// MEDIA QUERY FOR ALL DEVICES
// For Medium Devices
@include media-breakpoint-down(lg){

}

// For Small Devices
@include media-breakpoint-down(md){

}

// For X-Small Devices
@include media-breakpoint-down(sm){
    .footer-section{
        padding: 2rem 0rem;

        .foot-img-container{
            padding-right: 5rem;
            padding-left: 5rem;
        }
        h5{
            font-size: 1.2rem;
        }
    }

}