// IMPORT GLOBAL STYLE
@use '../components/global' as *;

// PROCESS SECTION CSS
.process-section{
    background: $theme-section-bg-color;
    padding: 4rem 0rem;

    .process-box{
        padding: 1rem;
    }
}


// MEDIA QUERY FOR ALL DEVICES
// For Medium Devices
@include media-breakpoint-down(lg){

}

// For Small Devices
@include media-breakpoint-down(md){
    .process-section{

        .process-box{
            text-align: center;
        }
    }
}

// For X-Small Devices
@include media-breakpoint-down(sm){
    .process-section{

        .process-box{
            text-align: center;
        }
    }
}

