// IMPORT GLOBAL SASS FILE
@use '../components/global' as *;

// THEME ACCORDION STYLE
.quarter-details{
    background: $theme-section-bg-color;

    .quarter-accordion{

        .quarter-accordion-item{
            border-color: $theme-section-bg-color;

            .quarter-accordion-button{
                background: $theme-section-bg-color;
                font-size: 1.8rem;
                box-shadow: none;

                .button-innerText{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    ul{
                        color: $theme-secondary-font-color;
                        font-size: 1.2rem;
                        font-weight: 400;
                        line-height: 2.5rem;
                        margin-bottom: 0;

                        li{
                            list-style: none;
                            display: inline-block;
                            margin-right: 2rem;
                        }
                    }
                }
            }
            .quarter-accordion-body{
                background: $theme-section-bg-color;
            }
        }

        .child-accordion{
        
            .child-accordion-button{
                font-size: 1.2rem;
                font-weight: 600;

                .child-button-innerText{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    padding-left: 1.5rem;
                    
                    span{
                        padding-right: 1.5rem;
                        font-weight: 400;
                    }
                }
            }
            .child-accordion-button::before{
                content: "1";
                width: 3.3rem;
                height: 3rem;
                background: #212121;
                border-radius: 100%;
                color: #fff;
                line-height: 3rem;
                font-size: 1.2rem;
                text-align: center;
                font-weight: 600;
            }
            .child-accordion-button::after{
                width: 1rem;
                height: 1rem;
                background-size: 1rem;
            }
            .child-accordion-body{
                padding: 1rem 5.7rem;

                ul{
                    color: $theme-secondary-font-color;
                    font-size: 1.2rem;
                    font-family: kohinoor;
                    line-height: 2rem;
                    padding-right: 0.8rem;
                }
            }
        }
    }
    
    .quarter-accordion-button::before{
        content: "";
        background-image: url(../images/runner.png);
        width: 3.8rem;
        height: 3.3rem;
        background-size: 3rem;
        background-repeat: no-repeat;
        margin-right: 1.5rem;
    }    
}




// MEDIA QUERY FOR ALL DEVICES
// For Medium Devices
@include media-breakpoint-down(lg){
    
    .quarter-accordion-button{

        .button-innerText{
            flex-wrap: wrap;
            
            ul{
                padding: 0;

                li{
                    margin-right: 0.5rem;
                }
            }
        }
    }
}

// For Small Devices
@include media-breakpoint-down(md){

    .quarter-details{

        .quarter-accordion{

            .quarter-accordion-item{

                .quarter-accordion-button{
                    font-size: 1.356rem;

                    .button-innerText{

                        flex-wrap: wrap;

                        ul{
                            padding: 0;

                            li{
                                margin-right: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }

}

// For X-Small Devices
@include media-breakpoint-down(sm){
    
    .quarter-details{

        .quarter-accordion{

            .quarter-accordion-item{

                .quarter-accordion-button{
                    font-size: 1.1rem;

                    .button-innerText{

                        flex-wrap: wrap;

                        ul{
                            padding: 0;

                            li{
                                margin-right: 0.5rem;
                            }
                        }
                    }
                }
            }

            .child-accordion-button{
                font-size: 1.1rem !important;
            }
            .child-accordion-body{
                
                p{
                    font-size: 1.1rem;
                    list-style: 1.5rem;
                }
                ul{
                    
                    li{
                        font-size: 1.1rem;
                        list-style: 1.5rem;
                    }
                }
            }
        }
    }
}